@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,body{width:100%; height:100%;}

html,body,div,span,h1,h2,h3,h4,h5,h6,p,
blockquote,q,abbr,address,cite,code,img,
ul,ol,li,dl,dt,dd,a,sub,sup,strong,em,
header,nav,section,article,footer,aside,
form,fieldset,legend,label,video,
table,caption,thead,tbody,tfoot,tr,th,td
{margin:0; padding:0; border:none;}

header,nav,section,article,footer,aside{display:block;}
button,label{cursor:pointer;}
table{border-collapse:collapse;}
textarea{resize:none;}

a:link{color:#333; text-decoration:none;}
a:visited{color:#333; text-decoration:none;}
a:hover{color:#333; text-decoration:none;}
a:active{color:#333; text-decoration:none;}

body{overflow-y:scroll; color:#333; font-size:16px; font-family: 'Noto Sans KR', sans-serif; line-height:1.4;}

hr,legend,caption{display:none;}
ul,ol,li{list-style:none;}
q{quotes:none;}
address,em{font-style:normal;font-weight: 300;}

.clearfix{*zoom:1;}
.clearfix:after{display:block; clear:both; content:'';}